form action="submit_post" method="POST" enctype="multipart/form-data"
    textarea name="post" cols="50" rows="10" placeholder="Ditt Inlägg"
    input type="file" name="img" accept="image/*" required="required"
    input.post_submit type="submit"
    