body{
    width: 50%;
    height: auto;
    margin: auto;
}

header{
    position: relative;
    width: 100%
}

header > h1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    text-align: center;
}